# This file is for unifying the coding style for different editors and IDEs.
# More information at http://EditorConfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# There are some usability issues with YAML files
# if you don't use 2 spaces as indentation.
[*.yml]
indent_style = space
indent_size = 2
